#sliders {
  height: 400px;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.nav-container{
  background-color: orange;
  width: 70%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.nav-container a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.2s ease-out;
}

.nav-container a:hover{
  background-color: rgb(243, 224, 188);
}

.r-one {
  position: absolute;
  border-top: 30px solid orange ;
  border-right: 30px solid orange;
  border-bottom: 30px solid orange;
  border-left: 30px solid transparent;
  top: 25px;
  left: -60px;
  z-index: -1;
}

.r-two {
  position: absolute;
  border-top: 30px solid orange ;
  border-right: 30px solid transparent;
  border-bottom: 30px solid orange;
  border-left: 30px solid orange;
  top: 25px;
  right: -60px;
  z-index: -1;
}
.gallery-header {
  display: none;
}

.slider-item {
  display: none;
}

.img-thumbnail {
  cursor: pointer;
}

.added {
  border: 2px solid #1e1743;
  border-radius: 5px;
}

img {
  height: 400px;
  object-fit: cover;
}

.prev-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.prev, .next {
  background-color: transparent;
  padding: 8px 10px;
  color: #fff;
}

.dot {
  background-color: rgb(163, 156, 156);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
}

.main {
  display: none;
}

.overflow {
  height: 500px;
  overflow: auto;
  margin-bottom: 100px;
}

.footer-sec{
  height: 400px;
  background-color: black;
  color: white;
}

@media (max-width: 767px) {
  .justify-content-around.align-items-center.mt-3.gallery-header.mb-2 {
    flex-direction: column;
  }
  #sliders {
    height: 300px;
    width: 90%;
  }
}